<% layout("/layouts/boilerplate") %>
  <body>
    <div class="row">
      <div class="col-8 offset-2">
        <br><br>
    <h3 class="heading">Create a New Post</h3>
    <form method="POST" action="/listings">

      <div class="mb-3 row">
        <label for="title" class="form-lable">Title</label>
        <input name="listing[title]" placeholder="Enter title" type="text" class="form-control" />
      </div>

      <div class="mb-3 row">
        <label for="description" class="form-lable">Description</label>
        <textarea name="listing[description]" placeholder="Enter description" class="form-control"></textarea>
      </div>

      <div class="mb-3 row">
        <label for="image" class="form-lable">Image URL</label>
        <input name="listing[image]" placeholder="Paste URL/Link" type="text" class="form-control" />
      </div>

      <div class="mb-3 row">
        <label for="price" class="form-lable">Price</label>
        <input name="listing[price]" placeholder="Enter price" type="number" class="form-control" />
      </div>
      
      <div class="mb-3 row">
        <label for="country" class="form-lable">Country</label>
        <input name="listing[country]" placeholder="Enter country" type="text" class="form-control" />
      </div>
      <div class="mb-3 row">
        <label for="location" class="form-lable">Location</label>
        <input name="listing[location]" placeholder="Enter location" type="text" class="form-control"/>
      </div>
    
      <button class="btn btn-primary">Add</button>
      <br><br>
    </form>
  </div>
  </div>
  </body>

