/* --------------------------Navbar---------------------- */
.navbar{
   height: 5rem;
   background-color: white; 
}
.logo{
    height: 55px;
    width: 118px;
}
.navbar-nav a{
    font-size: 1.15rem;

}
.navbar-nav a:hover{
    color: #041e46;
}


/* -----------------------Footer-------------------------- */
.f-info-links a{
    text-decoration: none;
    color: rgb(26, 25, 25);
}

.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-links a:hover{
    text-decoration: underline;
}


.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}


.f-info{
    height: 8rem;
    text-align: center;
    background-color: rgb(230, 230, 231);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* -------------------------Main page (Cards)------------------- */

.card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}
.listing-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: azure;
}
.card-img-overlay i{
    opacity: 1;
}

/* button */
.btn-primary{
    background-color: #213553 !important;
    border: none;
    width: 120px;
    height: 46px;
}
.btn-primary:hover{
    background-color: #314c78 !important;
}

form label{
    color: #213553;
    font-size: 1.5rem;
}

/* -------------------------------Show page----------------------------------- */

.show-img{
    height: 30vh;
}
.btns{
    display: flex;
}
.del{
    border: none;
    width: 120px;
    height: 46px;
}
.del:hover{
    background-color: #8c212c;
}